<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}ThinkInterface{/block}</title>
    <!--<link rel="stylesheet" href="__PUBLIC__/static/bootstrapt3.3.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/common.css">
    <script src="__PUBLIC__/static/js/common.js"></script>
    <script src="__PUBLIC__/static/js/jquery-3.1.1.min.js"></script>
    <!--引入layui框架-->
    <link rel="stylesheet" href="__PUBLIC__/static/layui1.0.7/css/layui.css">
    <script src="__PUBLIC__/static/layui1.0.7/layui.js"></script>
    {block name="css"}{/block}
</head>
<body>
<!--导航部分-->
{block name="nav"}
    <nav>
        <div class="nav">
            <ul>
                <li class="first"><a href="{:url('UserManage/index')}"><img src="__PUBLIC__/static/img/logo.jpg"></a></li>
                <li class="menu"><a href="{:url('UserManage/index')}">用户管理</a></li>
                <li class="menu"><a href="{:url('AdminStudents/index')}">用例管理</a></li>
                <li class="last">
                    <div id="login_name">
                        <span><i class="layui-icon">&#xe612;</i>&nbsp;{$Think.session.loginUser->name}</span>
                    </div>
                    <div id="logout">
                        <a href="{:url('Login/loginOut')}"><i class="layui-icon">&#xe609;</i>&nbsp;退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{/block}
<!--内容部分-->
{block name="content"}{/block}
<!--页尾部分-->
{block name="footer"}{/block}
<!--加载js-->
{block name="js"}{/block}
</body>
</html>