<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}ThinkInterface{/block}</title>
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrapt3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/css/common.css">
    <script src="__PUBLIC__/static/js/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/static/layer/layer.js"></script>
    {block name="css"}{/block}
</head>
<body>
<!--导航部分-->
{block name="nav"}{/block}
<!--内容部分-->
{block name="content"}{/block}
<!--页尾部分-->
{block name="footer"}{/block}
</body>
</html>